<div class="exm01 theme-1">
    <div class="container slide">
        <div class="row">
            <div class="col-sm-12 header"> 
            </div>
			<div class="row">	
				<div class="col-sm-6 content">
					<img src="../../static/images/elek_pe_0105_009.png" class="img-responsive" alt="">
				</div>
				<div class="col-sm-6 content">
					<div class="row">
						<div class="col-sm-6">
							<img src="../../static/images/elek_pe_0105_010.png" class="img-responsive" alt="">
						</div>
						<div class="col-sm-6"></div>
					</div>	
				</div>
			</div>	
            <div class="col-xs-2">
                <audio-component src="en=../../static/audio/19NA00_c01s05_tgmr_01_02.mp3;es=../../static/audio/19NA00_c01s05_tgmr_01_02.mp3;"></audio-component>
            </div>
            <div class="col-xs-10">
                <navigation-component controller-as="main"></navigation-component>
            </div>
        </div>
    </div>
    <captions-component></captions-component>
</div>
